.sazzad1{position: relative;
top: 20px;
width: 1147px;
left: 181px;
background-color:#4C97A2;}
.sazzad2{}
.sazzad3{position: relative;font-size: 24px;}
.sazzad4{}
.sazzad5{width:1318px;}
.sazzad6{margin-top:-250px;font-size:50px;line-height:-30px;}
.sazzad06{}
.parvez1{}
.sazzad7{position: relative;height: 110px;left: 180px;top: 8px;font-size: 26px}
.sazzad8{}
.sazzad9{}
.parvez2{position:relative;height:95px;left:195px;top:3px;line-height:28px;font-size:16px;}
.sazzad10{position: relative;top: -30px;}
.sazzad11{}
.sazzad12{margin-left:337px;width:65px;}
.sazzad012{margin-left:77px;}
.sazzad13{position:relative;right:210px;width:75px;top:-5px;}
.sazzad14{position:relative;height:390px;top:-15px;background-color:#00D089}
.sazzad15{}
.sazzad16{position:relative;left:400px;top:15px;width:175px;}
.sazzad016{position:relative;left:580px;bottom:130px;font-size:30px;color:#C5E1D8;}
.sazzad17{}
.sazzad18{position: relative;top: 70px;left:175px;width: 80px;}
.sazzad19{position:relative;top:76px;right:145px;width:186px;}
.sazzad20{width:80px;}
.sazzad21{}
.sazzad22{position: relative;top: -200px;left: 165px;font-size: 17px;color:#FFFFFF;}
.sazzad23{}
.sazzad24{position:relative;border:1px solid;padding:119px 34px;width: 354px;left:564px;display:block; top:40px;border-radius: 100%;z-index: 30;opacity: 0.8}
.formgroup{}
.s1{position: relative;top: -40px;width: 223px;left: 31px;}
.s2{position: relative;width: 225px;left: 27px;top: -27px;}
.s3{position: relative;top: -9px;width: 225px;left: 25px;}
.s4{}
.sazzad024{}
.map{height:-400px;}
.sazzad25{}
.map{top:-415px;width:1170px;margin-left:-15px;}
.sazzad27{}
.sazzad28{}
.sazzad29{}
.sazzad30{}
.sazzad31{position:relative;bottom:415px;width:1200px;left:-13px;}
.sazzad31.1{background-color:red}
.sazzad31.navbar{}
.sazzad32{color:#FFF;margin-left: 437px;margin-top: 19px;}